<section class="container d-flex flex-column">


    <form class="form content edit-form my-4 dashboard-font cards">

    <section class="d-flex justify-content-center mt-4">
        <h3 class="dashboard-font">Edit Workout</h3>
    </section>
        <label for="workout-name" class="ml-4">Workout Name:</label>
        <section class="mb-3 mx-4">
            <input type="text" name="name" id="edit-name" class="form-input" value="{{workout.name}}">
        </section>

        <label for="description" class="ml-4">Description:</label>
        <section class="mb-3 mx-4">
            <textarea name="description" id="edit-description" cols="30" rows="10">{{workout.description}}</textarea>
        </section>

        <label for="duration" class="ml-4">Duration:</label>
        <section class="mb-3 mx-4">
            <input type="text" name="duration" id="edit-duration" class="form-input" value="{{workout.duration}}">
        </section>
        <label for="optional" class="ml-4">Optional: weight, speed etc.</label>
        <section class="mb-3 mx-4">
            <input type="text" name="optional" id="edit-optional" class="form-input" value="{{workout.optional}}">
        </section>
        <label for="edit-tags" class="ml-4">Target Muscle Group:</label>
        <section class="ml-4">
            <select id="edit-tags" name="edit-tags" size="1" class="select-section">
                <option class="select-section" value=1 selected>Core</option>
                <option class="select-section" value=2>Legs</option>
                <option class="select-section" value=3>Arms</option>
            </select>
        </section>
        <button type="submit" class="submit-btn btn btn-secondary my-4 ml-4" id="edit-btn">Edit Workout</button>
        <button type="submit" class="submit-btn btn btn-secondary my-4 ml-4" id="delete-btn">Delete Workout</button>
    </form>

</section>

<script src="/js/update.js"></script>