<<<<<<<<< Temporary merge branch 1
<section id="workout-section"></section>

<script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
<script src="/js/plotly.js"></script>
=========
<section class="container d-flex flex-column">

<section id="workout-section">
</section>

</section>
>>>>>>>>> Temporary merge branch 2
