<section class="container d-flex flex-column">  
    <section id="workout-section"></section>
</section>

<script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
<script src="/js/plotly.js"></script>