<section class="container d-flex flex-column">


    <form class="form content create-form my-4 dashboard-font cards">

        <section class="d-flex justify-content-center mt-4">
            <h3 class="dashboard-font">Create New Workout</h3>
        </section>
        <label for="workout-name" class="ml-4">Workout Name:</label>
        <section class="mb-3 mx-4">
            <input type="text" name="name" id="workout-name" class="form-input">
        </section>

        <label for="description" class="ml-4">Description:</label>
        <section class="mb-3 mx-4">
            <textarea name="description" id="description" cols="60" rows="6"></textarea>
        </section>

        <label for="duration" class="ml-4">Duration:</label>
        <section class="mb-3 mx-4">
            <input type="text" name="duration" id="duration" class="form-input">
        </section>
        <label for="optional" class="ml-4">Optional: weight, speed etc.</label>
        <section class="mb-1 mx-4">
            <input type="text" name="optional" id="optional" class="form-input">
        </section>
        <label for="tag-ids" class="ml-4">Target Muscle Group:</label>
        <section class="ml-4">
            <select id="tag-ids" name="tag-ids" size="1" class="select-section">
                <option class="select-section" value=1 selected>Core</option>
                <option class="select-section" value=2>Legs</option>
                <option class="select-section" value=3>Arms</option>
            </select>
        </section>

        <button type="submit" class="submit-btn btn-lg my-4 ml-4" id="create-btn">Submit</button>

    </form>

</section>

<script src="./js/workout.js"></script>