<section>
    <section>
        <h3>Create New Workout</h3>
    </section>

    <form class="form content create-form">
        <label for="workout-name">Workout Name:</label>
        <section class="mb-3">
            <input type="text" name="name" id="workout-name" class="form-input">
        </section>
        <label for="description">Description:</label>
        <section class="mb-3">
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </section>
        <label for="duration">Duration:</label>
        <section class="mb-3">
            <input type="text" name="duration" id="duration" class="form-input">
        </section>
        <label for="optional">Optional: weight, speed etc.</label>
        <section class="mb-3">
            <input type="text" name="optional" id="optional" class="form-input">
        </section>
        <label for="tag-ids">Target Muscle Group:</label>
        <section>
            <select id="tag-ids" name="tag-ids" size="3">
                <option value=1 selected>Core</option>
                <option value=2>Legs</option>
                <option value=3>Arms</option>
            </select>
        </section>
        <button type="submit" class="submit-btn btn" id="create-btn">Submit</button>
    </form>
</section>

<script src="./js/workout.js"></script>
