<section class="container d-flex flex-column">

    <section class="d-flex justify-content-center">
        <h3 class="dashboard-font">Create New Workout</h3>
    </section>

    <form class="form content create-form mb-5 dashboard-font">

        <label for="workout-name">Workout Name:</label>
        <section class="mb-3 form-opacity">
            <input type="text" name="name" id="workout-name" class="form-input">
        </section>

        <label for="description">Description:</label>
        <section class="mb-3 form-opacity">
            <textarea name="description" id="description" cols="60" rows="6"></textarea>
        </section>

        <label for="duration">Duration:</label>
        <section class="mb-3 form-opacity">
            <input type="text" name="duration" id="duration" class="form-input">
        </section>
        <label for="weight-speed">Optional: weight, speed etc.</label>
        <section class="mb-3">
            <input type="text" name="weight-speed" id="weight-speed" class="form-input">
        </section>
        <button type="submit" class="submit-btn btn" id="create-btn">Submit</button>
    </form>

</section>

<script src="./js/workout.js"></script>