{{!-- log in form --}}
{{!-- user, pass, log in button --}}
<section>
  <section>
    <h3>Signup</h3>
  </section>

  <form class="form signup-form content">
      <label for="user-signup">Username:</label>
      <section class="mb-3">
        <input class="form-input" type="text" id="user-signup" />
      </section>
      <label for="password-signup">password:</label>
      <section class="mb-3">
        <input class="form-input" type="password" id="password-signup" />
      </section>
      <button class="submit-btn btn" type="submit">signup</button>
  </form>

  <a href="/login">Login instead</a>

</section>

<script src="/js/signup.js"></script>
