#page-container {
    position: relative;
    min-height: 100vh;
}

.header-background {
    /* background-image: linear-gradient( rgb(80, 80, 80, 0.5), rgba(255,0,0,0)); */
    background-color: rgba(37, 37, 37, 0.9);
}

.quotes {
    font-size: 20px;
}

/* header */

.header-font {
    font-family: 'Rubik Marker Hatch', cursive;
    font-size: 7rem;
    color: rgb(255, 255, 255);
}

/* body */

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

textarea {
    width: 100%;
}

/* form */

.cards {
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 2px solid black;
}

.new {
    background-color: rgba(219, 219, 219, 0.8);
    /* width: 300px;
    transform: translate(135%); */
}

.login-font-lg {
    font-family: 'Fredoka One', cursive;
    font-size: 3em;
    color: black;
}

.login-font {
    font-family: 'Fredoka One', cursive;
    color: black;
}

.submit-btn {
    border: none;
}

.submit-btn:hover {
    background-color: rgb(201, 201, 201);
}

.select-section {
    font-size: 24px;
    width: 100px;
}

/* footer */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Rubik Marker Hatch', cursive;
    flex-shrink: 0;
}

.footer-font-height {
    font-size: 1.5em;
}

/* .plotly-padding { */
/* this shouldn't be needed with empty div fix */
/* padding-bottom: 7%; */
/* } */

/* footer empty div */

.clear {
    clear: both;
    height: 60px;
}

/* footer pic */

.bottom-right {
    position: absolute;
    right: 0px;
    bottom: -5px;
    z-index: 1;
}

/* a href */

a {
    font-family: 'Fredoka One', cursive;
}

/* unvisited link */
a:link {
    color: black;
    font-weight: bolder;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
/* a:hover {
    color: hotpink;
    text-decoration: underline;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
} */

.nav-link {
    font-size: 25px;
}

.nav-item>a {
    color: white;
}

.nav-link:hover {
    color: rgb(41, 119, 184);
    background-color: rgb(240, 240, 240);
}

/* selected link */
a:active {
    color: black;
}

/* /dashboard */

.dashboard-font {
    font-family: 'Fredoka One', cursive;
    color: black;
}

.font-height {
    font-size: 2em;
}

/* nav bar href over ride */

.override:hover {
    padding: 5px 20px 5px 20px;
}

/* media queries */

/* header */
@media screen and (max-width: 1060px) {
    .header-font {
        font-size: 4rem;
    }
}

@media screen and (max-width: 632px) {
    .header-font {
        font-size: 3rem;
    }

    /* footer */
    .footer-font-height {
        font-size: 1em;
    }

    #workout-section {
        height: 400px;
        width: 200px;
    }

    .plotly-padding {
        height: 400px;
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .header-font {
        font-size: 2rem;
    }

    .nav-link {
        font-size: 15px;
    }
}

@media screen and (max-width: 342px) {
    .header-font {
        font-size: 1.5rem;
    }

    /* footer */
    .footer-font-height {
        font-size: 0.8em;
    }
}

/* nav links */

@media screen and (max-width: 390px) {
    .nav-link {
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
}

/* plotly resize */

@media screen and (max-width: 636px) {
    #workout-section {
        display: none;
    }

    #user-workout-section {
        display: none;
    }
}

@media screen and (min-width: 636px) {
    #workout-section-resize {
        display: none;
    }

    #user-workout-resize {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    #workout-section-resize {
        display: none;
    }

    #user-workout-resize {
        display: none;
    }
}

/* create workout */

@media screen and (max-width: 342px) {
    .resize-create {
        font-size: 1.5em;
    }
}

/* dashboard */

@media screen and (max-width: 400px)  {
    .resize-column {
        flex-direction: column;
        align-content: center;
    }
}